@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato");

html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 56px;*/
    background: #D3DEEA;

    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 0.8em;
}

.image-avatar{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image-avatar img{
    position:absolute;
}
.note-group-select-from-files {
    display: none;
}

.confirmation{
}